{% extends 'base.html.twig' %}

{% block title %}Memos{% endblock %}

{% block content %}
    <h1>Memos</h1>
    <a href="{{ path('memo_create') }}">メモを作成</a>
    <ul>
        {% for memo in memos %}
            <li>
                {% if memo.isImportant %}
                    <strong>【重要フラグ】 {{ memo.content }}</strong>
                {% else %}
                    {{ memo.content }}
                {% endif %}
                <br>
                <small>作成日: {{ memo.createdAt|date('Y-m-d H:i') }}</small>
                <br>
                <a href="{{ path('memo_edit', {'id': memo.id}) }}">Edit</a>
                <a href="{{ path('memo_delete', {'id': memo.id}) }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
